@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F7F9FC;
    color: #2D2D2D;
    @apply antialiased;
}

@layer base {

    button,
    a,
    input,
    select,
    textarea {
        @apply transition-all duration-300 ease-in-out;
    }
}